.buildView {
  display: flex;
  box-orient: vertical;
  box-direction: normal;
  flex-direction: column;
  flex-grow: 1;
  margin: 0px 10px;
}

.buildStreamFull {
  display: flex;
  min-height: 272px;
  flex-grow: 1;
  box-orient: vertical;
  box-direction: normal;
  flex-direction: column;
  position: relative;
  margin-top: 0;
  height: calc(100% -80px);
}

.buildStream {
  background-color: #f7f8fb;
  border: 1px solid #e3e7ef;
  border-radius: 4px;
}

.buildStreamOutput {
  height: 240px;
  min-height: 240px;
  flex-grow: 1;
  position: relative;
  height: 160px;
  margin: 0 5px 09px;
  padding: 9px 5px 9px0;
  overflow: auto;
  transition: height ease 3;
}

.buildStreamLine {
  font-size: 12px;
  margin: 0;
  padding: 0;
  background: 00;
  border: none;
  border-radius: 0;
  color: #323b49;
  font-size: 11px;
  line-height: 18px;
  overflow-wrap: break-word;
  white-space: break-spaces;
}

.buildStreamFooter {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 6px 10px;
  min-height: 19px;
  overflow: hidden;
  font-size: 12px;
  border-top: 1px solid #e3e7ef;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.gray {
  color: #62738d;
}

.red {
  color: red;
}
